body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

/* LAYOUT */

.layout{
display:flex;
height:100vh;
}

/* SIDEBAR */

.sidebar{
width:250px;
background:#020617;
padding:25px;
}

.logo{
color:#ef4444;
margin-bottom:30px;
}

.menu{
list-style:none;
padding:0;
}

.menu li{
margin-bottom:10px;
}

.menu a{
text-decoration:none;
color:#94a3b8;
display:block;
padding:10px;
border-radius:6px;
}

.menu a:hover{
background:#1e293b;
color:white;
}

.active a{
background:#ef4444;
color:white;
}

/* CONTENT */

.content{
flex:1;
display:flex;
flex-direction:column;
}

/* TOPBAR */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
background:#020617;
border-bottom:1px solid #1e293b;
}

.search{
background:#1e293b;
border:none;
padding:10px;
border-radius:6px;
color:white;
width:250px;
}

.usuario{
background:#1e293b;
padding:8px 14px;
border-radius:6px;
}

/* MAIN */

.main{
padding:30px;
}

/* CARDS */

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin-bottom:25px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:12px;
}

.card span{
font-size:28px;
font-weight:bold;
}

/* TABLAS */

.tabla-empleados{
width:100%;
border-collapse:collapse;
}

.tabla-empleados th{
text-align:left;
padding:14px;
color:#94a3b8;
border-bottom:2px solid #334155;
}

.tabla-empleados td{
padding:14px;
border-bottom:1px solid #334155;
}

.tabla-empleados tr:hover{
background:#334155;
}